.pie-de-pagina {
    background-color: #9663f4;
    margin-top: 30px;
    height: 30vh;

    p {
        color: white;
        padding-top: 25px;
    }
    

    a {
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    a:hover {
        color: #9663f4;
        background-color: #e2daf7;
        border-radius: 18px;
    }

}