nav {
    background-color: #c4a2f5;
}

.navbar-brand {
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
    padding: 0px;
}

.navbar-toggler {
    background-color: #9663f4;
}

.offcanvas-header {
    background-color: #c4a2f5;
}

.offcanvas-body {
    background-color: #c4a2f5;
}