
.navbar-brand {
    color: #e2daf7;
    font-weight: bold;
    font-size: 45px;
    margin-left: 5vh;
    padding: 0px;

}

.navbar-toggler {
    background-color: #9663f4;
}

.offcanvas-header {
    background-color: #c4a2f5;
}

.offcanvas-body {
    background-color: #c4a2f5;
}

.portada-estatica {

    img {
    width: 100%;
    height: 10vh;
    object-fit: cover;

    padding: 0px;
    margin: 0px;
    }
}